<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.xConnectRules" description="Feature xConnectRules" dependencies="Foundation.*" extends="Helix.Feature">
                    <targetDataStore physicalRootPath="$(Feature.XConnectRules.sourceFolder)\feature\xConnectRules\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate>
                        <include name="xConnectRules.ElementGroups" database="master" path="/sitecore/system/Settings/Rules/Definitions/ElementGroups/TEKonnect" />
                        <include name="xConnectRules.Condition" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/XConnect - TEKCondition" />
                        <include name="xConnectRules.Elements" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/XConnect - Contact TEKConditions" />
                    </predicate>
                    <rolePredicate>
                        <include domain="modules" pattern="^Feature xConnectRules .*$" />                   
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>